body {
    margin: 0;
    padding: 0;
    background-color: rgb(22, 20, 20);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
}

.thanhtrai {
    width: 20%;
    height: 110%;
    background-color: #100e0e;
    padding: 20px;
}

.Create {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
    justify-content: flex-start;
}

button {
    background-color: #121212;
    color: white;
}

.play {
    display: flex;
    justify-content: space-between;
}

.thanhtrai h3 {
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 10px;
}

.thanhtrai ul {
    list-style: none;
    padding: 0;
}

.thanhtrai li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.thanhgiua {
    width: 75%;
}

.playlist-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.song-list {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.song-list-header,
.song-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.song-list-header {
    color: #a0a0a0;
    font-weight: normal;
}


.song-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* cách dòng */
}

.song-item {
    align-items: center;
}


.thanhcuoi {
    width: 25%;
    height: 110%;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}